
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    font-size: 16px;
}

main{
    display: grid;
    min-height: 100vh;
    place-content: center;
}

.card{
    height: 45em;
    width: 29em;
    background-color: hsl(216, 50%, 16%);
    border-radius: 0.75em;
    padding:1.2em 2em;
    box-shadow: 0 1.5em 0.5em 1em hsl(218, 52%, 4%, 0.2);
}

.card-name {
    color: white;
    font-size: 2em;
    margin: 0.5em 0;
    text-align: center;

}

.card-overlay {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 100%,0.6);
    opacity: 0;
    transition: opacity 0.2s;
    border-radius: 0.5em;
}

.card-overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.card-profil-picture {
    background-image: url("asset/profil.jpeg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 12.5em;
    width: 12.5em;
    margin: 0.5em auto;
    border-radius: 0.5em;
}

.small-title {
    color: hsl(0, 0%, 100%, 0.8);
    font-size: 1.4em;
    margin: 0.8em 0;
}

.container{
    margin-top: 1em;
    display: grid;
    grid-template-rows: 3.1em 3.1em 3.1em 3.1em;
}

.project{
    display: grid;
    grid-template-columns: 9.4em 14.1em;
}

.project-link:hover{
    text-decoration: underline;
    transition: all ease-in-out 1s;
}

.link a{
    text-decoration: none;
    color: hsla(178, 100%, 50%);
    border-bottom: 1px solid transparent;
    font-size: 1.1em;
}

.link a:hover{
    transition: 0.3s;
    border-bottom: 2px solid hsla(178, 100%, 50%);
}

.icon-social{
    height: 2em;
    width: 2em;
    margin-right: 1em;
}

.project-text{
    color: hsla(215, 51%, 70%, 0.75);
}

.card-subtitle{
    text-align: center;
    color: hsla(215, 51%, 70%, 0.9);
    font-size: 1.4em;
    margin: 20px 0;
}

.icon a{
    width: 1.8em;
    height: 1.8em;
}

.accent{
    text-decoration: none;
    color: hsla(178, 100%, 50%, 0.6);
    border-bottom: 1px solid transparent;
}

.accent:hover{
    transition: 0.3s;
    border-bottom:1px solid hsla(178, 100%, 50%, 0.6);
}
.project-link:hover{
    text-decoration: underline;
    transition: all ease-in-out 1s;
}











