/****************************************************
 ****************************************************
 *                    COMMUNS À TOUTES LES PAGES
 ****************************************************
****************************************************/


/****************************************************
 *                    STYLE GÉNÉRAL
 ****************************************************/

.block_text {
    width: 70%;
}

.subtitle {
    font-size: 18px;
}

/****************************************************
 *                    HEADER
 ****************************************************/

.navbar_complete {
    height: 120px;
}

.navbar_collapse {
    height: 40px;
}

.navbar_collapse li a {
    width: 165px;
    font-size: 24px;
}


/****************************************************
 ****************************************************
 *               SPÉCIFITÉS PAGES
 ****************************************************
****************************************************/



/****************************************************
 *                    INDEX
 ****************************************************/


/***************IMAGE D'ACCUEIL**********************/
.head_picture {
    margin-top: 118px;
}

#insert {
    top: 28%;
    padding: 20px;
    width: 70%;
}


/*************** OVERVIEW***************************/

.overview_element
{
    width: 273px;
}

/*************** BLOCK ILLUSTRATION*****************/
.festival_logo {
    margin: 20px 100px;
}

/****************************************************
 *                    SELECTION
 ****************************************************/

.film_poster {
    margin: 20px 20px;
    width: 42%;
    font-size: 11px;
    align-items: center;
    padding: 25px;
}

.film_poster h4 {
    font-size: 19px;
}


/****************************************************
*                    ACTUALITÉS
****************************************************/

/******************FIL D'ACTUALITÉ******************/
.block-news {
    width: auto;
}

.picture_article {
    width: 200px;
}

/****************************************************
 *                    CONTACT
 ****************************************************/

.form_organization {
    width: 80%;
    padding: 25px;
    flex-direction:row;
}

input {
    width: 200px;
}

textarea {
    width: 200px;
    max-height: 120px;
    min-height: 120px;
    max-width: 290px;
    min-width: 200px;
}

.message {
    margin-top: -28px;
    margin-right: auto;
    width: auto;
}








