/****************************************************
 ****************************************************
 *                    COMMUN À TOUTES LES PAGES
 ****************************************************
****************************************************/


/****************************************************
 *                    STYLE GÉNÉRAL
 ****************************************************/

.subtitle {
    font-size: 20px;
}

.block_text {
    width: 50%;
}

/****************************************************
 *                    HEADER
 ****************************************************/

.navbar_complete {
    height: 80px;
    padding: 0 100px;
    flex-direction: row;
    justify-content: space-between;
}

.navbar_collapse li a {
    width: 130px;
    font-size: 20px;
}

.navbar_collapse li a:hover {
    width: 130px;
    font-size: 23px;
}

/****************************************************
 ****************************************************
 *                   SPÉCIFICITÉS/PAGES
 ****************************************************
****************************************************/


/****************************************************
 *                    INDEX
 ****************************************************/

/***************IMAGE D'ACCUEIL**********************/
.head_picture
{
    margin-top:0;
}

#insert {
    position: absolute;
    top: 30%;
    padding: 20px;
}

#insert h1 {
    line-height: inherit;
    font-size: 45px;
}

#insert h2 {
    line-height: 45px;
    font-size: 30px;
}

.block-test {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0;
    text-align: center;
}

/*************** BLOCK ILLUSTRATION*******************/
.association_logo {
    margin: -30px 148px;
}

.festival_logo {
    margin: -20px 120px;
    width: auto;
    box-shadow: 0 1.875em 1.6em -0.5em hsla(224, 23%, 55%, 0.3);
    height: 233px;
}

.circle_actu {
    margin: 16px 175px;
}

/***************** OVERWIEW ***************************/
.overview {
    margin: 20px 40px 40px 40px;
    padding: 40px;
}

.overview_element {
    width: 275px;
    margin: 15px;
}

/****************************************************
 *                    SELECTION
 ****************************************************/

.selection {
    padding: 10px;
}

.film_poster {
    margin: 20px 35px;
    padding: 30px;
    width: auto;
}

.film_poster h4 {
    margin-top: 35px;
}

/****************************************************
 *                    PAGE INFO FILM
 ****************************************************/

.film_poster_spe {
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px;
    width: 340px;
}

.block_movie {
    padding: 35px;
    width: 70%;
}

/****************************************************
*                    ACTUALITÉS
****************************************************/

.block-news {
    width: 800px;
    margin: 40px auto;
    padding: 15px;
}

.picture_article {
    width: 230px;
}

.text_article {
    line-height: 30px;
}

/****************************************************
 *                    PAGE ACTU SPÉ
 ****************************************************/

.picture_article_specific {
    width: 230px;
}

/****************************************************
 *                    PAGE CONTACT
 ****************************************************/

.practicle_informations {
    width: 1100px;
}

/****************************************************
 *                    CONTACT
 ****************************************************/

.form_organization {
    padding: 60px;
    width: 60%;
    font-size: 14px;
}

input {
    width: 300px;
    margin: 10px 0;
}

input {

    margin: 6px 0;
    border-radius: 5px;
    border: 1px solid grey;
}

textarea {
    max-height: 136px;
    min-height: 136px;
    max-width: 450px;
    min-width: 296px;
}

.indication {
    font-size: 10px;
    color: red;
    font-style: italic;
}

.navbar_brand {
    margin-top: -1px;
    height: initial;
}

.icon-img{
    height: 70px;
    width: auto;
    margin: 2px auto;
}

@media screen and (min-width: 1700px) {
    input{
        width: 380px;
    }
}
